-<body>
+<body class="<%= cookies[:theme] %>">
+  <%= cookies[:theme] %>
+  <%= link_to 'light', set_theme_path(theme: 'light') %>
+  <%= link_to 'dark', set_theme_path(theme: 'dark') %>
+  <%= link_to 'system default', set_theme_path %>
  <%= yield %>
</body>